.container {
    margin: 5vh auto;
}

.navbar-brand {
    color: black;
    font-weight: 700;
    font-size: 32px;
}

.navbar-brand span {
    color: blueviolet;
}

.albums {
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 20px;
}

.photos {
    margin-top: 20px;
}

.title {
    font-weight: 700;
    padding-bottom: 20px;
}

.card {
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.album-cover {
    background-image: url('../../assets/images/album-cover.png');
    background-size: cover;
    height: 150px;
    width: 100%;
}

a {
    text-decoration: none;
}

.card-title, .card-subtitle {
    color: black;
}

.card-subtitle span {
    color: blueviolet;
}

.pagination-box {
    width: 50%;
    background: white;
    border-radius: 30px;
    margin: 20px auto;
    padding: 0;
}

.pagination /deep/ .ngx-pagination .current {
    background: blueviolet;
}

.form-group {
    padding: 20px;
}

@media screen and (max-width: 900px) {
    .pagination-box {
        width: 100%;
    }
}