.back {
    border: none;
    background: transparent; 
}

.back .fas {
    font-size: 28px;
}

.back {
    font-size: 28px;
}

.back:hover {
    color: blueviolet;
}

.form-group {
    width: 30%;
    float: right;
}

.card {
    padding: 0;
    margin-top: 20px;
    border: none;
}

.card:hover {
   cursor: pointer;
} 

.card-body {
    padding: 0;
}

.card-footer {
    padding: 10px 0;
    font-weight: 700;
}

.delete {
    float: right;
    background: transparent;
    font-size: 28px;
}

.delete:hover {
    color: blueviolet;
}

@media screen and (max-width: 1000px) {
   .form-group {
       width: 60%;
   }
}

@media screen and (max-width: 600px) {
   .form-group {
       width: 100%;
   }
}

