<div class="container">
  <nav class="navbar navbar-sm">
    <button type="button" (click)="goBack()" class="btn back"><i class="fas fa-arrow-left"></i> Albums</button>
    <form class="form-inline">
        <div class="form-group">
            <input [(ngModel)]="searchPhoto" class="form-control" name="photo" type="text" placeholder="Search photos">
        </div>
    </form>
  </nav>  
  
  <br>
  <div class="row">
    <div class="col-6 col-sm-4 col-md-3" *ngFor="let photo of photos | filter:searchPhoto" [@flyInOut]="'in'">
      <div class="card">
        <div class="card-body shadow">
          <a routerLink="../{{photo._id}}">
              <img [src]="photo.thumbnailUrl" 
              alt="" style="width: 100%; height: 160px;">
          </a>
        </div>
        <div class="card-footer">
          <span class="text-capitalize">{{photo.title}}</span>
          <button type="button"
                  title="delete photo" 
                  (click)="deletePhoto(photo)" 
                  class="btn delete" data-dismiss="modal">
                  <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>